.container {
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-color: #4b6c1b;
  overflow-y: hidden;
}

.page_title {
  font-size: 30px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #bdc678;
  line-height: 56px;
  padding: 30px 0;
  letter-spacing: 2px;
  text-align: center;
  background: url("../images/back.png") center center no-repeat;
  background-size: cover;
  white-space: nowrap;
}

.content {
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 16px 16px 16px 0;
}
.content h3 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  line-height: 33px;
  margin-bottom: 20px;
}

.content .main {
  display: flex;
  height: calc(100vh - 88px);
}

.content .main .unitInfo {
  display: table;
  width: calc(100vw - 560px);
  min-width: 610px;
  background: #fff;
  overflow-x: auto;
}

.tbody {
  background: #b1bc93;
}

.content .main .unitInfo .item {
  padding: 0;
  /* border-bottom: 1px solid #e0e8cc; */
}

.content .main .unitInfo .number,
.content .main .unitInfo .head .number {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  flex-shrink: 0;
}

.content .main .unitInfo .number {
  display: table-cell;
  background: #eeeeee;
}

.content .main .unitInfo .item .level {
  width: 126px;
  background: #fff;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #e0e8cc;
  flex-shrink: 0;
  float: left;
  cursor: pointer;
}

.content .main .unitInfo .item .selected {
  background: #a2cea8;
}

.content .main .unitInfo .head {
  overflow: hidden;
  border: 1px solid #e0e8cc;
}

.content .main .unitInfo .head .number {
  float: left;
}

.content .main .unitInfo .head .unit {
  background: #ccc;
  text-align: center;
  position: relative;
  padding: 4px;
  box-sizing: border-box;
  border-left: 1px solid #e0e8cc;
  flex: 1;
  /* min-width: 190px; */
}

.content .main .unitInfo .active {
  background: #67bb74 !important;
}

.content .main .unitInfo .item .level p {
  padding: 2px;
}

.content .main .unitInfo .item .level .lock {
  display: block;
  width: 20px;
  position: absolute;
  left: 10px;
  top: 6px;
}

.content .main .house_info {
  display: none;
  width: 300px;
  min-width: 300px;
  overflow: hidden;
  margin-left: 20px;
}

.content .main .house_info p {
  display: flex;
  line-height: 40px;
  padding: 10px;
  border-bottom: 1px solid #597330;
  font-size: 18px;
}
.content .main .house_info p span {
}
.content .main .house_info p span:nth-of-type(1) {
  width: 140px;
  text-align: right;
  color: #c1d2a8;
}
.content .main .house_info p span:nth-of-type(2) {
  flex: 1;
  color: #fff;
  white-space: pre-wrap;
}

.content .main .house_image {
  display: none;
  width: 500px;
  min-width: 500px;
  height: max-content;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
}
