.place_item {
  display: none;
}

.place03 .place_item:nth-of-type(1) {
  top: 900px;
  left: 840px;
}

.place03 .place_item:nth-of-type(2) {
  top: 530px;
  left: 1100px;
}

.place03 .place_item:nth-of-type(3) {
  top: 290px;
  left: 1350px;
}

.place03 .place_item:nth-of-type(4) {
  top: 720px;
  left: 500px;
}

.place03 .place_item:nth-of-type(5) {
  top: 410px;
  left: 740px;
}

.place03 .place_item:nth-of-type(6) {
  top: 160px;
  left: 1050px;
}

.place08 .place_item:nth-of-type(1) {
  top: 900px;
  left: 840px;
}

.place08 .place_item:nth-of-type(2) {
  top: 530px;
  left: 1100px;
}

.place08 .place_item:nth-of-type(3) {
  top: 290px;
  left: 1350px;
}

.place08 .place_item:nth-of-type(4) {
  top: 720px;
  left: 500px;
}

.place08 .place_item:nth-of-type(5) {
  top: 410px;
  left: 740px;
}

.place08 .place_item:nth-of-type(6) {
  top: 160px;
  left: 1050px;
}

.place10 .place_item:nth-of-type(1) {
  top: 900px;
  left: 840px;
}

.place10 .place_item:nth-of-type(2) {
  top: 530px;
  left: 1100px;
}

.place10 .place_item:nth-of-type(3) {
  top: 290px;
  left: 1350px;
}

.place10 .place_item:nth-of-type(4) {
  top: 720px;
  left: 500px;
}

.place10 .place_item:nth-of-type(5) {
  top: 410px;
  left: 740px;
}

.place10 .place_item:nth-of-type(6) {
  top: 160px;
  left: 1050px;
}

.place10 .place_item:nth-of-type(8) {
  top: 410px;
  left: 740px;
}

.place10 .place_item:nth-of-type(8) {
  top: 160px;
  left: 1050px;
}

.place14 .place_item:nth-of-type(1) {
  top: 900px;
  left: 840px;
}

.place14 .place_item:nth-of-type(2) {
  top: 530px;
  left: 1100px;
}

.place14 .place_item:nth-of-type(3) {
  top: 290px;
  left: 1350px;
}

.place14 .place_item:nth-of-type(4) {
  top: 720px;
  left: 500px;
}

.place14 .place_item:nth-of-type(5) {
  top: 410px;
  left: 740px;
}

.place14 .place_item:nth-of-type(6) {
  top: 160px;
  left: 1050px;
}

.place14 .place_item:nth-of-type(8) {
  top: 410px;
  left: 740px;
}

.place14 .place_item:nth-of-type(8) {
  top: 160px;
  left: 1050px;
}

.place15 .place_item:nth-of-type(1) {
  top: 900px;
  left: 840px;
}

.place15 .place_item:nth-of-type(2) {
  top: 530px;
  left: 1100px;
}

.place15 .place_item:nth-of-type(3) {
  top: 290px;
  left: 1350px;
}

.place15 .place_item:nth-of-type(4) {
  top: 720px;
  left: 500px;
}

.place15 .place_item:nth-of-type(5) {
  top: 410px;
  left: 740px;
}

.place15 .place_item:nth-of-type(6) {
  top: 160px;
  left: 1050px;
}

.place15 .place_item:nth-of-type(8) {
  top: 410px;
  left: 740px;
}

.place15 .place_item:nth-of-type(8) {
  top: 160px;
  left: 1050px;
}
