html,
body,
em,
input,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}