.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: 100%;
  /* background: url("../images/search_bg.png") center center repeat; */
}

.foot_bg {
  position: absolute;
  bottom: 0;
}

.content {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.logo {
  width: 48px;
  margin: auto;
}

.title h1 {
  font-size: 28px;
  color: #1d1a17;
  line-height: 34px;
  padding: 10px 0 4px 0;
}

.title h6 {
  font-size: 11px;
  color: #757575;
  line-height: 13px;
}

.search {
  position: relative;
  width: 600px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #193a9c;
  margin: 40px auto 0;
  box-sizing: border-box;
}

.search .input {
  border: none;
  outline: none;
  width: 100%;
  line-height: 26px;
  padding: 10px 100px 10px 14px;
  box-sizing: border-box;
  border-radius: 8px;
  box-sizing: border-box;
}

.search .button {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 46px;
  line-height: 46px;
  border-radius: 0 6px 6px 0;
  background: #193b9d;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
  cursor: pointer;
  user-select: none;
}

.autocomplete {
  display: none;
  position: absolute;
  top: 40px;
  left: -2px;
  width: 515px;
  border-radius: 0 0 8px 8px;
  border: 2px solid #193a9c !important;
  border-top: 0 !important;
  box-shadow: none;
  background: #fff;
  box-sizing: border-box;
}

.autocomplete ul {
  margin: 6px 14px 0;
  padding: 14px 0;
  border-top: 1px solid #f3f3f3;
}

.autocomplete ul li {
  text-align: left;
  line-height: 20px;
  padding: 4px 0;
  cursor: pointer;
}

.foot {
  width: 100%;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 22px;
}

@media (max-width: 768px) {
  .search {
    width: 96%;
  }
  .foot {
    font-size: 12px;
  }
}
